.container {

}

.content {
  padding: 10%;
  width: 60%;
  border-radius: 4px;
  background-color: white;
  position:fixed;
  top: 50%;
  left: 10%;
}
.input-box {
  margin: 10% 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.text {
  font-family: Didot, serif;
  text-align: center;
  color: #ac7246;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.input {
  text-align: center;
  border: 1.5px solid #be885e;
  width: 200px;
  height: 20px;
  font-size: 15px;
}
.center {
  display: flex;
  justify-content: center;
}