.button {
  text-align: center;
  cursor: pointer;
  font-family: Didot, serif;
}
.primary {
  background-color: #c68f65 ;
  color: #e6eef6;
  border: none;
} 

.secondary {
  background-color: white;
  color: #d1966a;
  border: 1px solid;
  border-color: #d1966a;
}
.alternative {
  background-color: #f4d8c3;
  color: black;
  border: 1px solid;
  border-color: black;
}

.sm {
  height: 25px;
  font-size: 18px;
}

.md {
  padding: 5px 15px;
  height: 40px;
  font-size: 20px;
}

.lg {
  padding: 5px 15px;
  height: 40px;
  width: 185px;
  font-size: 22px;
}

.xl {
  padding: 16px 28px;
  height: 40px;
  font-size: 20px;
}
