.button {
  text-align: center;
  cursor: pointer;
  font-family: Didot, serif;
  border-radius: 5px;
}
.primary {
  background-color: #ff5d1d ;
  color: #ffffff;
  border: none;
} 

.secondary {
  background-color: #ffffff;
  color: #ff5d1d;
  border: 1px solid;
  border-color: #ff5d1d;
}
.alternative {
  background-color: #ffffff;
  color: black;
  border: 1px solid;
  border-color: black;
}

.sm {
  height: 25px;
  font-size: 18px;
}

.md {
  padding: 5px 15px;
  height: 40px;
  font-size: 20px;
}

.lg {
  padding: 5px 15px;
  height: 40px;
  width: 185px;
  font-size: 22px;
}

.xl {
  padding: 16px 28px;
  height: 40px;
  font-size: 20px;
}
