.button {
  width: 160px;
  height: 35px;
  box-shadow: unset;
  border: none;
  background-color: #d1966a;
  color: #e6eef6;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  font-family: Didot, serif;
}
.primary {
  background-color: #d1966a;
  color: #e6eef6;
}

.secondary {
  background-color: #f0f0f0;
  color: #333;
}
