.container {
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.header {
  text-align: center;
  font-weight: bold;
  color: #143296;
}

.week-days {
  border-bottom: 1px solid #ccc;
  color: #143296;
}
.week-day {
  display: inline-block;
  width: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  margin: 1px;
}
.week {
  margin: 4px;
}
