.container {
  display:flex;
  justify-content: center;
}

.text {
  font-family: Didot, serif;
  text-align: center;
  color: #ac7246;
  font-size: 23px;
}
.contentButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
