.container {
  
 
  
}

.card {
  border: 1px solid #ac7348;
  background-color: white;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 5%;
}

.text {
  margin-right: 5px;
  margin-left: 5px;
  font-family: Didot, serif;

}

.row {
  display: flex;
  font-size: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2px;
  color: #8b5933;
}
.rowBotton {
  padding: 5px;
}