@import "config/colors/styles.module.scss";

.container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.content {
  padding: 10px;
}
.text {
  font-family: Didot, serif;
  text-align: center;
  font-weight: 500px;
  font-size: 23px;
  color: $secondary-color;
}
.table {
  align-items: center;
}
.textTread {
  font-family: Didot, serif;
  text-align: center;
  color: $primary-color;
  font-size: 15px;
}
.textTable {
  font-family: Didot, serif;
  text-align: center;
  font-size: 15px;
  color: $secondary-color;
}

.columMax {
  padding: 2px 65px;
}

.separator {
  border-bottom: 1px solid $primary-color;
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.box-button {
  display: flex;
  justify-content: space-between;
}
