.container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.content {
  padding: 10px;
}
.text {
  font-family: Didot, serif;
  font-style: italic;
  text-align: center;
  font-weight: 500px;
  font-size: 23px;
  color: #ac7348;
}
.table{
  align-items: center;
}
.textTread {
  font-family: Didot, serif;
  text-align: center;
  color: #ac7246;
  font-size: 15px;  
}
.textTable {
  font-family: Didot, serif;
  text-align: center;
  font-size: 15px;  
  color: #442711;
}
.teste {
  padding: 2px 25px;
}
.separator {
  border-bottom: 1px solid #ac7246;
}