.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 75vw;
}
.content {
  align-items: center;
}

.itemHour {
  color: #ffffff;
  font-size: 20px;
  margin: 5px;
  border: 2px solid #ff5d1d;
  background: #ff5d1d;
  padding: 5px;

  &:disabled {
    background-color: #fafafa72;
    color: #d1d1d1;
    cursor: not-allowed;
  }
  &:hover {
    background: #d1966a;
    color: #ffffff;
  }
}
