.container {
}

.text {
  font-family: Didot, serif;
  font-style: italic;
  text-align: center;
  font-weight: 500px;
  font-size: 50px;
  color: #dd9965;
}
.footer-buttons-modal {
  display: flex;
}

.footer-button-box {
  margin-right: 5%;
}

.modal-content {
  height: 130px;
  width: 220px;
  font-family: Didot, serif;
  color: #ac7348;
  text-align: center;
  font-size: 18px;
}
.text {
  font-family: Didot, serif;
  font-style: italic;
  text-align: center;
  font-weight: 500px;
  font-size: 23px;
  color: #ac7348;
}