.text {
  font-family: Didot, serif;
  font-style: italic;
  text-align: center;
  font-weight: 500px;
  font-size: 40px;
  color: #dd9965;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 50%;
}
