.container-buttons {
  display: flex;
  justify-content: center;
}
.content-buttons {
  margin: 30px;
}
.divider {
  border-top: 3px solid #d1966a;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}
