.container {
}
.header-page {
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  color: #ff5d1d;
  font-weight: 550;
  background: #ffffff;
}

.content {
  // display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
}

.arrow-box {
}

.arrow-img {
  width: 40px;
  margin-top: 10px;
}
