.container {
  width: 100%;
  height: 100%;
}
.header-page {
  height: 60px;
  width: 100%;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2em;
  color: #143296;
  font-weight: 550;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;

  background: #ebebeb;
}
