.container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.content {
  padding: 10px;
}
.text {
  font-family: Didot, serif;
  text-align: center;
  font-weight: 500px;
  font-size: 23px;
  color: black
}
.table{
  align-items: center;
}
.textTread {
  font-family: Didot, serif;
  text-align: center;
  color: #ff5d1d;
  font-size: 15px;  
}
.textTable {
  font-family: Didot, serif;
  text-align: center;
  font-size: 15px;  
  color: black;
}

.columMax {
  padding: 2px 65px;
}

.separator {
  border-bottom: 1px solid #ff5d1d;
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}