.logo {
  width: 150px;
  height: auto; 
}

.header {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #ffffff;
  border-bottom: solid 1px black;
  
}