@import "config/colors/styles.module.scss";

.logo {
  width: 150px;
  height: auto;
}

.header {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: $tertiary-color;
  border-bottom: solid 1px $secondary-color;
}
