
.tema1{
  .color1 {
  color: #ffff
}
  .color2 {
  color: #ffe3d3
}
  .color3 {
  color: #c68f65;
}
  .color4 {
  color: #876347 ;
}
  .color5 {
  color: #55361d
}
  .color6 {
  color: #060100
}
}


.tema2 {
  .color1 {
  color: #0b1320;
}
  .color2 {
  color: #1c3f60;
}
  .color3 {
  color: #afc1d0 ;
}
  .color4 {
  color: #ffff ;
}
}

.tema3 {
  .color1 {
    color: #0e2309;
  }
    .color2 {
    color: #1f5014;
  }
    .color3 {
    color: #7d9b76 ;
  }
    .color4 {
    color: #cbddd1 ;
  }
  .color5 {
    color: #ffff
  }
}