.container {
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.text {
  font-family: Didot, serif;
  font-style: italic;
  text-align: center;
  font-weight: 500px;
  font-size: 30px;
  color: #ac7348;
}

.box-button {
  margin-top: 30px;
}
