.container {
  
  margin-top: 40%;
  
}

.content {
  display: flex;
  justify-content: center;
align-items: center;
  width: 100%;
  margin-top: 10%;
  
}
.text {
  font-family: Didot, serif;
  font-style: italic;
  text-align: center;
  font-weight: 500px;
  font-size: 40px;
  color: #ac7348;
}
