.container {
    font-family: Didot, serif;
    text-align: center;
    justify-content: centers;
    color: #ac7246;
    font-size: 20px;
  

  }


.contentButton {
  
  align-items: center;
  width: 100%;
  margin-top: 20px;
}